@font-face {
  font-family: "Myriad Pro";
  src: url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_i7.eot');
  src: url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_i7.eot') format('embedded-opentype'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_i7.woff') format('woff'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_i7.ttf') format('truetype'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_i7.svg') format('svg');
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Myriad Pro";
  src: url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_i4.eot');
  src: url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_i4.eot') format('embedded-opentype'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_i4.woff') format('woff'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_i4.ttf') format('truetype'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_i4.svg') format('svg');
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_n7.eot');
  src: url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_n7.eot') format('embedded-opentype'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_n7.woff') format('woff'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_n7.ttf') format('truetype'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_n7.svg') format('svg');
  font-weight: bold;
}
@font-face {
  font-family: "Myriad Pro";
  src: url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_n4.eot');
  src: url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_n4.eot') format('embedded-opentype'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_n4.woff') format('woff'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_n4.ttf') format('truetype'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/adb_myriadPro/adb_myriadPro_n4.svg') format('svg');
}
