BODY {
  background: url(https://rawgit.com/dw-hb/global/img/dandy.png) no-repeat fixed center/cover #151515;
}

.busy {
  background: linear-gradient(to bottom,
                              rgba(64, 64, 5, 0.5),
							  rgba(64, 64, 5, 0.5)),
  url(https://rawgit.com/dw-hb/global/img/bdandy.png) no-repeat fixed center/cover #404005;
  border-top: 2px solid #ff2;
}

.warn {
  background: linear-gradient(to bottom, 
                              rgba(64, 5, 5, 0.5),
                              rgba(64, 5, 5, 0.5)),
  url(https://rawgit.com/dw-hb/global/img/wdandy.png) no-repeat fixed center/cover #400505;
  border-top: 2px solid #f22;
}

.info {
  background: linear-gradient(to bottom,
                              rgba(5, 5, 64, 0.5),
							  rgba(5, 5, 64, 0.5)),
  url(https://rawgit.com/dw-hb/global/img/idandy.png) no-repeat fixed center/cover #050540;
  border-top: 2px solid #22f;
}

.good {
  background: linear-gradient(to bottom,
                              rgba(5, 64, 5, 0.5),
							  rgba(5, 64, 5, 0.5)),
  url(https://rawgit.com/dw-hb/global/img/gdandy.png) no-repeat fixed center/cover #054005;
  border-top: 2px solid #2f2;
}