/* @font-face {
  font-family: "FF Mark";
  src: url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n%2B0.eot');
  src: url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n%2B0.eot') format('embedded-opentype'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n%2B0.woff') format('woff'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n%2B0.ttf') format('truetype'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n%2B0.svg') format('svg');
}
@font-face {
  font-family: "FF Mark";
  src: url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n-1.eot');
  src: url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n-1.eot') format('embedded-opentype'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n-1.woff') format('woff'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n-1.ttf') format('truetype'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n-1.svg') format('svg');
  font-weight: light;
}
@font-face {
  font-family: "FF Mark";
  src: url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n-2.eot');
  src: url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n-2.eot') format('embedded-opentype'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n-2.woff') format('woff'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n-2.ttf') format('truetype'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n-2.svg') format('svg');
  font-weight: xlight;
} */

@font-face {
  font-family: 'FfMarkLight';
  src: url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n-1.woff') format('woff'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n-1.ttf') format('ttf');
}

@font-face {
  font-family: 'FfMarkXLight';
  src: url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n-2.woff') format('woff'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n-2.ttf') format('ttf');
}

@font-face {
  font-family: 'FfMarkMedium';
  src: url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n%2B0.woff') format('woff'),
       url('https://gitcdn.xyz/cdn/dw-hb/global/fonts/ff_mark/ff_mark_n%2B0.ttf') format('ttf');
}