@font-face {
  font-family: "Myraid Pro";
  src: url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-BoldIt.eot');
  src: url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-BoldIt.eot') format('embedded-opentype'),
       url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-BildIt.woff') format('woff'),
       url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-BoldIt.ttf') format('truetype'),
       url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-BoldIt.svg') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Myraid Pro";
  src: url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-It.eot');
  src: url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-It.eot') format('embedded-opentype'),
       url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-It.woff') format('woff'),
       url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-It.ttf') format('truetype'),
       url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-It.svg') format('svg');
  font-style: italic;
}
@font-face {
  font-family: "Myraid Pro";
  src: url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-Bold.eot');
  src: url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-Bold.eot') format('embedded-opentype'),
       url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-Bold.woff') format('woff'),
       url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-Bold.ttf') format('truetype'),
       url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-Bold.svg') format('svg');
  font-weight: bold;
}
@font-face {
  font-family: "Myraid Pro";
  src: url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-Regular.eot');
  src: url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-Regular.eot') format('embedded-opentype'),
       url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-Regular.woff') format('woff'),
       url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-Regular.ttf') format('truetype'),
       url('https://rawgit.com/dw-hb/global/fonts/MyraidPro/MyriadPro-Regular.svg') format('svg');
}